.jumbotron{
    padding-top: 2rem;
    background-color: #e2edff;
}

.container {
    width: 100%;
    height: fit-content;
}

.sd{
    background-color: black;
}
.card{
  margin: auto;
  width: 50%;
  padding: 10px;
}